div#control_panel_grid.control_panel_grid
    div#menu_item_play(hidden='hidden') Play
    div#menu_item_music(hidden='hidden') Music
    div#menu_item_system(hidden='hidden') System
    div#menu_item_clear(hidden='hidden') Clear
    include ./play/MenuPlay
    include ./music/MenuMusic
    include ./system/MenuSystem
    include ./clear/MenuClear
