svg.keyboard {
    background: none;
    width: 100%;
    height: 100%;
    rect.btn_tone {
        stroke: white;
        fill: #444;
        cursor: pointer;
    } 
    text.btn_tone {
        stroke: #6af;
    }
    g {
        rect.key {
            cursor: pointer;
            stroke: #000;
            stroke-width: 1px;
            &.white {
                stroke: #000;
                fill: #fff;
            }
            &.black {
                fill: #333;
            }
        }
        text.key {
            display: none;
        }
        &.keyin_active {
            text {
                display: unset;
                &.white {
                    stroke: #000;
                }
                &.black {
                    stroke: #fff;
                }
            }
        }
        .guideline {
            stroke: #aaa;
        }
    }
}
