- var keyboardShiftWidth = 40
- var octaveWidth = 252;    // 鍵盤幅は /7, スコアシートは /12
- var keyboardWhiteWidth = octaveWidth / 7
- var keyboardBlackWidth = keyboardWhiteWidth * .7
- var width = keyboardShiftWidth * 2 + octaveWidth * 4
- var scoreButtonWidth = octaveWidth / 12
- var scoreSheetRowHeight = 15
- var ns_svg = 'http://www.w3.org/2000/svg'