details {
    .details_content {
        background: #eef;
        border-radius: 3px;
        padding: .5em 1em 0 2em;
    }
    summary {
        margin-left: .5em;
        margin-bottom: -.7em;
    }
}