div.name_plate {
    display: inline;
    text-align: center;
    font-size: large;
    .title_plate {
        margin: 0.2em;
        width: 20em;
        border-style: solid;
        &:read-only {
            border-color: white;
            width: 5em;
        }
    }
    label {
        vertical-align: bottom;
        svg {
            width: 1em;
            height: 1em;
            display: inline;
            cursor: pointer;
        }
    }
}
