html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#root {
    height: 100%;
    header {
        height: 2em;
    }
    main {
        height: calc(100% - 2em);

        .scroll_container {
            position: relative;
            width: 100%;
            height: calc(100% - 4em - 1em);
            overflow-x: scroll;
            .sheet {
                position: absolute;
                bottom: 200px;
                min-width: 1200px;
                max-height: calc(100% - 200px - 15px);
                overflow-y: scroll
            }
            .keyboard {
                position: absolute;
                bottom: 0;
                min-width: 1200px;
                height: 200px;
            }
        }
        .control_panel {
            height: 4em;
        }
    }
}
