.music_menu_frame {
    display: grid;
    grid-template-columns: 10em 20em 20em;
    dl.music_menu_item {
        margin: 0;
        padding: 0;
        dt {
            float: left;
        }
        dd {
            margin: 0;
            padding: 0;
            >div{
                display: inline-block;
                #music_length_ok {
                    display: none;
                }
                #music_length_cancel {
                    display: none;
                }
                #music_length_notice {
                    color: red;
                }
            }
        }
    }
}
